NODE_ENV=development
PORT=5000

MONGO_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/flyhirre?retryWrites=true&w=majority

JWT_SECRET=replace-with-a-long-random-secret

CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
