PORT=5000
MONGO_URI=mongodb+srv://nexora_backend:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/flyhirre_talent_solutions?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_long_random_secret
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
NODE_ENV=development

# Used only by: npm run create-admin
ADMIN_NAME=Flyhirre Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=CHANGE_THIS_PASSWORD
